// Define el Box Sizing
@mixin box-sizing( $box-model ) {
    box-sizing: $box-model;
}

// Media Queries
@mixin telefone {
    @media screen and ( min-width: #{ $telefone } ) {
        @content;
    }
}

@mixin tablet {
    @media screen and ( min-width: #{ $tablet } ) {
        @content;
    }
}

@mixin desktop {
    @media screen and ( min-width: #{ desktop } ) {
        @content;
    }
}

// Coloca Imagenes
@mixin image( $image-URL ) {
    background-image: url( $image-URL );
    background-repeat: no-repeat;
    background-position: center center;
}

// Button
@mixin button( $bg-color, $color ) {
    background-color: $bg-color;
    color: $color;
    display: inline-block;
    padding: .6rem 2rem;
    margin-top: 1rem;
}