// Fonts
$firstFont: 'Libre Baskerville', serif;

// Colors
$firstColor: #008FD1;
$darkFirstColor: #004D70;
$secondColor: #DB008D;
$thirdColor: #9800D1;
$fourthColor: #ECA300;
$bgColor: #F2F2F2;
$white: #FFFFFF;
$black: #000000;
$radius: 5px;

// Media Queries
$telefone: 480px;
$tablet: 768px;
$desktop: 1200px;