@charset "UTF-8";
/* Global */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #F2F2F2;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  flex: 0 1 100%;
  text-align: center;
  font-size: 1.8rem;
}

h3 {
  font-family: "Libre Baskerville", serif;
  margin: 0;
  font-weight: 700;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

/* Header */
.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.hero {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

/** Barra **/
.barra {
  background-color: #008FD1;
  padding: 1rem 0;
  margin-top: 1rem;
  width: 100%;
  position: absolute;
  top: 0;
}

.barra .contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .barra .contenedor {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*** Logo ***/
.logo-img {
  max-width: 20rem;
}

/*** Navegación ***/
@media screen and (min-width: 768px) {
  .navegacion {
    flex: 0 0 25rem;
  }
}

.navegacion ul {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .navegacion ul {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navegacion ul li {
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  padding: .2rem 0;
}

/** Header Contenido **/
.header-contenido {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .header-contenido {
    position: unset;
  }
}

.header-contenido h1 {
  color: #008FD1;
  font-size: 2.4rem;
  text-transform: uppercase;
  max-width: 25rem;
}

/* Contenido */
.contenido-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contenido-principal .entrada {
  margin-bottom: 2rem;
}

@media screen and (min-width: 480px) {
  .contenido-principal .entrada {
    flex: 0 0 calc( 50% - 1rem);
  }
}

@media screen and (min-width: 768px) {
  .contenido-principal .entrada {
    flex: 0 0 calc( 33% - 1rem);
  }
}

.contenido-principal .entrada .contenido {
  background-color: #FFFFFF;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.contenido-principal .entrada .contenido h3 {
  font-size: .9rem;
  line-height: 1.4rem;
}

.contenido-principal .entrada .contenido span {
  color: #DB008D;
}

.contenido-principal .entrada .contenido .boton {
  background-color: #008FD1;
  color: #FFFFFF;
  display: inline-block;
  padding: .6rem 2rem;
  margin-top: 1rem;
}

/* Categorias */
.categorias ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.categorias ul li {
  flex: 0 0 50%;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .categorias ul li {
    flex: 1;
  }
}

.categorias ul li:nth-child(1) {
  background-color: #008FD1;
}

.categorias ul li:nth-child(2) {
  background-color: #DB008D;
}

.categorias ul li:nth-child(3) {
  background-color: #9800D1;
}

.categorias ul li:nth-child(4) {
  background-color: #ECA300;
}

.categorias ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categorias ul li a i {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* Footer */
.footer {
  background-color: #008FD1;
  padding-top: 1rem;
  color: #FFFFFF;
}

.footer h2 {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .footer .contenedor {
    display: flex;
  }
  .footer .contenedor .caja {
    flex: 1;
  }
}

.footer .contenedor .nosotros {
  text-align: center;
}

.footer .contenedor .entradas {
  text-align: center;
}

.footer .copyright {
  background-color: #004D70;
  margin: 2rem 0 0 0;
  padding: 1rem 0;
  text-align: center;
}

/** Redes Sociales **/
.sociales ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.sociales ul li {
  margin-right: 1rem;
}

.sociales ul li a {
  text-decoration: none;
}

.sociales ul li a::before {
  font-family: 'Font Awesome 5 Brands';
  color: #FFFFFF;
  font-size: 2rem;
}

.sociales ul li a[href*="facebook.com"]::before {
  content: '\f39e';
}

.sociales ul li a[href*="twitter.com"]::before {
  content: '\f099';
}

.sociales ul li a[href*="youtube.com"]::before {
  content: '\f167';
}

.sociales ul li a[href*="instagram.com"]::before {
  content: '\f16d';
}

.sociales ul li a[href*="pinterest.com"]::before {
  content: '\f0d2';
}

.sociales ul li span {
  display: none;
}
